<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--扫描注解-->
    <context:component-scan base-package="com.itcast.ssm.domain"></context:component-scan>
    <context:component-scan base-package="com.itcast.ssm.dao"></context:component-scan>
    <context:component-scan base-package="com.itcast.ssm.service"></context:component-scan>


    <context:property-placeholder location="classpath:db.properties"></context:property-placeholder>


    <!--数据源 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"></property>
        <property name="jdbcUrl" value="${jdbc.url}"></property>
        <property name="user" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>


    <!--SqlSession类配置 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <!--别名 -->
        <property name="typeAliasesPackage" value="com.itcast.ssm.domain"></property>

        <!--配置pageHelpr拦截器-->
        <property name="plugins">
            <array>
                <bean id="pageInterceptor" class="com.github.pagehelper.PageInterceptor">
                    <property name="properties">
                        <props>
                            <!--helperDialect数据库类型 -->
                            <prop key="helperDialect">oracle</prop>
                            <prop key="reasonable  ">true</prop>
                        </props>
                    </property>
                </bean>
            </array>
        </property>
    </bean>


    <!--扫描标志代理类Dao-->
    <bean id="mapper" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.itcast.ssm.dao"></property>
    </bean>
    <!-- 配置事务管理-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!--事务注解配置 -->
    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>

</beans>